<section class="education">
  <div class="container">

    <div class="row">
      <h4 class="center"> Formação </h4>
    </div>

    <div class="row">

      <div class="col s12">

        <div class="row">
          <div class="graduated">
            <span class="col s1"><i class="material-icons">school</i> </span>
            <p class="col s9">Universidade do Estado do Amazonas, 2018</p>
          </div>
        </div>

        <div class="row">
          <div class="highschool">
            <span class="col s1"><i class="material-icons">school</i> </span>
            <p class="col s9">Fundação Nokia de Ensino, 2014 </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
