<section class="skills">
  <div class="container">

    <div class="row">
      <h4 class="center"> Tecnologias </h4>
    </div>

    <div class="row">

      <div class="col s4">
        <h5 class="col s10">Python</h5>
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>

      <div class="col s4">
        <h5 class="col s10">JavaScript</h5>
        <div class="progress">
          <div class="determinate" style="width: 70%"></div>
        </div>
      </div>

      <div class="col s4">
        <h5 class="col s10">C/C++</h5>
        <div class="progress">
          <div class="determinate" style="width: 60%"></div>
        </div>
      </div>
    </div>
    
  </div>
</section>
